/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
iframe,
video {
  max-inline-size: 100%;
  border: 0;
}

iframe {
  display: block;
}

table {
  border-collapse: collapse;
}
